{% extends "base.html" %}

{% block title %}AI API Keys Update{% endblock %}

{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <!-- Title section -->
    <div class="title">Update AI API Keys</div>
    <div class="content">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <!-- Registration form -->
        <form action="{% url 'model_creds_update' object %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="user-details">
                <!-- Loop through form fields dynamically -->
                {% for field in form %}
                <div class="input-box">
                    <span class="details">{{ field.label }}</span>
                    {{ field }}
                    {% if field.errors %}
                    <div class="error">{{ field.errors|striptags }}</div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <!-- Submit button -->
            <div class="button">
                <input type="submit" value="Update AI API Keys">
            </div>
        </form>
    </div>
    <a href="{% url 'model_creds_add' %}">Add AI API Keys </a>
    <a style="margin-left: 310px" href="{% url 'api_model_list' %}">Select APIs Model</a>
</div>
{% endblock %}
