<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}AI Chatbot {% endblock %}</title>

    <!-- Load Bootstrap CSS from CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Load Custom CSS -->
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>

<!-- Main Content Block -->
<main class="container mt-4">
    <a class="btn btn-primary" href="{% url 'gen_ai_chat' %}">AI Chart</a>
    <a class="btn btn-primary" href="{% url 'user_account_update' %}">Update Profile Info</a>
    <a class="btn btn-primary" href="{% url 'model_creds_add' %}">Manage AI model API keys</a>

    <br>
    <br>
    {% block content %}{% endblock %}
    <br>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Logout</button>
    </form>
</main>

<!-- Footer -->

<!-- Load JavaScript (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- Custom JavaScript -->
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>